In [54]:
#built in pip packages
import requests
import pandas as pd 
import numpy as np 
import psycopg2 

#custom packages/functions
from func import *

%load_ext autoreload
%autoreload 2

db = db_engine()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [63]:
query = build_url('main')
pd.DataFrame(get_data(query)['teams'])

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1250,1270,1150,1210,1190,1220,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1100,1100,1140,1110,1090,1090,2
2,94,0,None,3,0,Brentford,0,0,0,BRE,...,None,False,0,1060,1070,1120,1150,1080,1120,130
3,36,0,None,4,0,Brighton,0,0,0,BHA,...,None,False,0,1100,1090,1160,1160,1100,1120,131
4,90,0,None,5,0,Burnley,0,0,0,BUR,...,None,False,0,1060,1060,1080,1130,1060,1100,43
5,8,0,None,6,0,Chelsea,0,0,0,CHE,...,None,False,0,1290,1320,1300,1300,1250,1290,4
6,31,0,None,7,0,Crystal Palace,0,0,0,CRY,...,None,False,0,1090,1100,1110,1160,1080,1160,6
7,11,0,None,8,0,Everton,0,0,0,EVE,...,None,False,0,1050,1090,1130,1090,1110,1110,7
8,13,0,None,9,0,Leicester,0,0,0,LEI,...,None,False,0,1090,1200,1100,1080,1150,1160,26
9,2,0,None,10,0,Leeds,0,0,0,LEE,...,None,False,0,1070,1080,1080,1070,1100,1100,9
10,14,0,None,11,0,Liverpool,0,0,0,LIV,...,None,False,0,1340,1360,1300,1350,1340,1350,10
11,43,0,None,12,0,Man City,0,0,0,MCI,...,None,False,0,1350,1370,1340,1360,1340,1360,11
12,1,0,None,13,0,Man Utd,0,0,0,MUN,...,None,False,0,1210,1270,1170,1190,1190,1200,12
13,4,0,None,14,0,Newcastle,0,0,0,NEW,...,None,False,0,1090,1170,1050,1030,1040,1070,23
14,45,0,None,15,0,Norwich,0,0,0,NOR,...,None,False,0,1030,1040,1040,1040,1040,1030,14
15,20,0,None,16,0,Southampton,0,0,0,SOU,...,None,False,0,1080,1110,1090,1140,1120,1090,20
16,6,0,None,17,0,Spurs,0,0,0,TOT,...,None,False,0,1210,1270,1190,1200,1210,1210,21
17,57,0,None,18,0,Watford,0,0,0,WAT,...,None,False,0,1060,1030,1090,1040,1120,1070,33
18,21,0,None,19,0,West Ham,0,0,0,WHU,...,None,False,0,1130,1190,1110,1150,1160,1180,25
19,39,0,None,20,0,Wolves,0,0,0,WOL,...,None,False,0,1200,1170,1150,1160,1080,1100,38

In [13]:
#df = get_player_data(4,'history_past', to_df=True)
#df.to_sql(name='player_test',con=engine, schema='fpl_dev')

In [14]:
with db.connect() as con:
    ds = con.execute("SELECT * FROM fpl_dev.player_test;")
    data = ds.fetchall()
    df_test = pd.DataFrame(data)
df_test

,index,season_name,element_code,start_cost,end_cost,total_points,minutes,goals_scored,assists,clean_sheets,...,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index
0,0,2017/18,54694,105,108,87,1056,10,4,4,...,1,0,0,0,12,354,484.0,207.1,580.0,127.1
1,1,2018/19,54694,110,108,205,2722,22,7,7,...,1,0,0,0,32,756,984.4,484.6,1429.0,289.6
2,2,2019/20,54694,110,109,205,3136,22,5,10,...,0,3,1,0,37,807,1006.0,479.6,1369.0,285.2
3,3,2020/21,54694,120,113,131,2330,10,3,10,...,0,2,0,0,11,358,493.8,361.5,823.0,167.4

In [68]:
elements_df = pd.DataFrame(json['elements'])
elements_types_df = pd.DataFrame(json['element_types'])
teams_df = pd.DataFrame(json['teams'])

In [69]:
elements_df.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
0,100.0,100.0,80201,0,0,-5,5,1,1,2.9,...,588,60,433,30,NaN,,NaN,,NaN,
1,0.0,0.0,115918,0,0,0,0,0,1,0.0,...,483,19,537,54,NaN,,NaN,,NaN,
2,0.0,0.0,47431,0,0,-2,2,0,3,0.0,...,718,299,718,299,NaN,,NaN,,NaN,
3,0.0,0.0,54694,0,0,-4,4,0,4,0.0,...,46,19,133,26,NaN,,NaN,,NaN,
4,100.0,100.0,58822,0,0,-3,3,0,2,6.1,...,318,106,279,93,2.0,,NaN,,NaN,