In [14]:
#built in pip packages
import requests
import pandas as pd 
import sqlite3
import json

#custom packages/functions
from func import get_data
from db_build import * 

%load_ext autoreload
%autoreload 2

connection = sqlite3.connect("db/fpl.db")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [36]:
# endpoint = 'gameweek'
# for i in range(1,39):
#     data = get_data(endpoint, params={'gameweek':i})
#     with open(f'{endpoint}{i}.json','w') as f:
#         json.dump(data,f)
#     print(i)

In [3]:
df = pd.DataFrame(data['events'])

In [11]:
events(data).tail()

,id,name,deadline_time,average_entry_score,finished,data_checked,highest_scoring_entry,deadline_time_game_offset,highest_score,is_previous,...,is_next,cup_leagues_created,h2h_ko_matches_created,most_selected,most_transferred_in,top_element,transfers_made,most_captained,most_vice_captained,season_name
33,222334,Gameweek 34,2023-04-29 10:00:00,82,True,True,4772566,0,175,True,...,False,True,True,318,335,283,10569759,318,283,22_23
34,222335,Gameweek 35,2023-05-06 12:30:00,39,True,True,1351287,0,107,False,...,False,True,True,318,356,534,6017147,318,283,22_23
35,222336,Gameweek 36,2023-05-13 10:00:00,0,False,False,0,0,0,False,...,True,True,True,0,0,0,0,0,0,22_23
36,222337,Gameweek 37,2023-05-20 10:00:00,0,False,False,0,0,0,False,...,False,False,False,0,0,0,0,0,0,22_23
37,222338,Gameweek 38,2023-05-28 14:00:00,0,False,False,0,0,0,False,...,False,False,False,0,0,0,0,0,0,22_23

In [7]:
df1 = element_process(data,'element_price1')

In [8]:
df1.to_sql('element_price1',con=connection,index=False)

763

In [35]:
# elements = sql('select element_id from element_price1',connection.cursor())['element_id'].to_list()
# endpoint = 'player_summary'
# for i in range(50,101):
#     data = get_data(endpoint, params={'element_id': i})
#     with open(f'{endpoint}_{i}.json', 'w') as f:
#         json.dump(data, f)
#     print(i)