In [6]:
#built in pip packages
import requests
import pandas as pd 
import numpy as np 
import psycopg2 

#custom packages/functions
from func import *

%load_ext autoreload
%autoreload 2

db = db_engine()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
url = 'https://fantasy.premierleague.com/api/fixtures/'
response = requests.get(url)
data = response.json()

In [8]:
pd.DataFrame(data)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2292810,1,True,True,1,2022-08-05T19:00:00Z,90,False,True,1,2.0,7,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,74911
1,2292813,1,True,True,4,2022-08-06T11:30:00Z,90,False,True,12,2.0,9,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,74914
2,2292811,1,True,True,2,2022-08-06T14:00:00Z,90,False,True,2,0.0,3,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,2,74912
3,2292814,1,True,True,5,2022-08-06T14:00:00Z,90,False,True,20,1.0,11,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,74915
4,2292816,1,True,True,7,2022-08-06T14:00:00Z,90,False,True,16,0.0,15,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,3,74917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2293185,38,False,False,376,2023-05-28T15:00:00Z,0,False,False,3,NaN,8,NaN,[],2,2,75286
376,2293186,38,False,False,377,2023-05-28T15:00:00Z,0,False,False,18,NaN,11,NaN,[],3,2,75287
377,2293187,38,False,False,378,2023-05-28T15:00:00Z,0,False,False,19,NaN,10,NaN,[],3,4,75288
378,2293188,38,False,False,379,2023-05-28T15:00:00Z,0,False,False,9,NaN,14,NaN,[],2,4,75289
379,2293189,38,False,False,380,2023-05-28T15:00:00Z,0,False,False,12,NaN,17,NaN,[],5,2,75290

In [95]:
for item in pd.DataFrame(get_data(p_fix)['history_past']).columns:
    print(item)

season_name
element_code
start_cost
end_cost
total_points
minutes
goals_scored
assists
clean_sheets
goals_conceded
own_goals
penalties_saved
penalties_missed
yellow_cards
red_cards
saves
bonus
bps
influence
creativity
threat
ict_index

In [76]:
# with db.connect() as con:
#     ds = con.execute("SELECT * FROM fpl_dev.teams;")
#     data = ds.fetchall()
#     df_test = pd.DataFrame(data)
# df_test

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1250,1270,1150,1210,1190,1220,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1100,1100,1140,1110,1090,1090,2
2,94,0,None,3,0,Brentford,0,0,0,BRE,...,None,False,0,1060,1070,1120,1150,1080,1120,130
3,36,0,None,4,0,Brighton,0,0,0,BHA,...,None,False,0,1100,1090,1160,1160,1100,1120,131
4,90,0,None,5,0,Burnley,0,0,0,BUR,...,None,False,0,1060,1060,1080,1130,1060,1100,43
5,8,0,None,6,0,Chelsea,0,0,0,CHE,...,None,False,0,1290,1320,1300,1300,1250,1290,4
6,31,0,None,7,0,Crystal Palace,0,0,0,CRY,...,None,False,0,1090,1100,1110,1160,1080,1160,6
7,11,0,None,8,0,Everton,0,0,0,EVE,...,None,False,0,1050,1090,1130,1090,1110,1110,7
8,13,0,None,9,0,Leicester,0,0,0,LEI,...,None,False,0,1090,1200,1100,1080,1150,1160,26
9,2,0,None,10,0,Leeds,0,0,0,LEE,...,None,False,0,1070,1080,1080,1070,1100,1100,9
10,14,0,None,11,0,Liverpool,0,0,0,LIV,...,None,False,0,1340,1360,1300,1350,1340,1350,10
11,43,0,None,12,0,Man City,0,0,0,MCI,...,None,False,0,1350,1370,1340,1360,1340,1360,11
12,1,0,None,13,0,Man Utd,0,0,0,MUN,...,None,False,0,1210,1270,1170,1190,1190,1200,12
13,4,0,None,14,0,Newcastle,0,0,0,NEW,...,None,False,0,1090,1170,1050,1030,1040,1070,23
14,45,0,None,15,0,Norwich,0,0,0,NOR,...,None,False,0,1030,1040,1040,1040,1040,1030,14
15,20,0,None,16,0,Southampton,0,0,0,SOU,...,None,False,0,1080,1110,1090,1140,1120,1090,20
16,6,0,None,17,0,Spurs,0,0,0,TOT,...,None,False,0,1210,1270,1190,1200,1210,1210,21
17,57,0,None,18,0,Watford,0,0,0,WAT,...,None,False,0,1060,1030,1090,1040,1120,1070,33
18,21,0,None,19,0,West Ham,0,0,0,WHU,...,None,False,0,1130,1190,1110,1150,1160,1180,25
19,39,0,None,20,0,Wolves,0,0,0,WOL,...,None,False,0,1200,1170,1150,1160,1080,1100,38

In [9]:
elements_df = pd.DataFrame(json['elements'])
elements_types_df = pd.DataFrame(json['element_types'])
teams_df = pd.DataFrame(json['teams'])

TypeError: 'module' object is not subscriptable